.article__buttons{
    &__share,
    &__comment{
        background-color: $nickel;
        border-color: $nickel;
        border-radius: 60px;
        &:hover{
            background-color: $platinum;
            border-color: $platinum;
        }
        &:focus{
            background-color: $nickel;
        }
    }
    &__small{
        padding-bottom: 35px;
        display:flex;
        justify-content: space-around;
    }
    &__large{
        padding-bottom: 35px;
        
    }
}
