body{
    font-family: $roboto;
    font-size: $medium;
}

h1{
    font-size: $x-large;
    font-family: $playfair;
    font-weight: $black-900;
    font-style: $italic;
}


h2{
    font-size: $x-large;
    font-family: $playfair;
    font-weight: $black-900;
    font-style: $italic;
}

h3{
    font-size: $large;
    font-family: $playfair;
    font-weight: $regular;
}

@media (min-width: 992px) { 
    h1{
        font-size: $xx-large;
    }
 }